.buttonStyle{
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 18px;
    background-color: black;
     margin: 2px;
    /* padding: 5px; */
    border-radius: 50px; 
    cursor: pointer;
    color: white;
    font-weight: 900px;
}